@model WebApplication2.Models.IndexViewModel


@{
    ViewBag.Title = "Home Page";
}

<div id="ko-main">
    <ul data-bind="foreach: colours">
        <li>
            <span data-bind="visible: !isEdit(), text: name, click:setIsEdit"></span>
            <input type="text" data-bind="visible: isEdit, value: name" />
            <span data-bind="visible: !validName">Please enter a non-empty non-numeric string</span>
            <a href="#" data-bind="click: setIsEdit">Edit</a>
            <a href="#" data-bind="visible: isEdit, click: $parent.saveColour">Save</a>
            <a href="#" data-bind="visible: isEdit, click: unsetIsEdit">Cancel</a>
            <a href="#" data-bind="visible: !isEdit(), click: $parent.removeColour">Delete</a>
        </li>
    </ul>
    <input id="colourName" name="colourName" type="text" data-bind="value: newColour" />
    <a href="#" data-bind="click: addColour">Add</a>
</div>


<script>
    $(document).ready(function () {
        var viewmodel = new rd.colours.indexviewmodel()
        ko.applyBindings(viewmodel, document.getElementById("ko-main"))

        viewmodel.load()
    })
</script>